workflow 1.2.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        16
      ],
      "id": "62863285-e9a6-41ab-820b-db600254554d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "martgarcia1010@gmail.com",
        "subject": "=Reporte diario  {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        16
      ],
      "id": "de81796c-138c-4a16-a5db-27e9608e0825",
      "name": "Send a message",
      "webhookId": "70664e35-24a4-4e11-84ea-f0fecd98b838",
      "credentials": {
        "gmailOAuth2": {
          "id": "ohjAWWFochwCfFmW",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        192
      ],
      "id": "f16e8c91-2c24-4261-8336-88f08360b1f9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Cda33UoJvoa4YuLI",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Give a fun fact from an animal using Wikipedia",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        16
      ],
      "id": "8ebd4ee9-b9e3-4e8c-8b42-7d51c77d1dc3",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "99f3f914-4328-4d60-aa17-c244df627704",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        272,
        16
      ],
      "id": "2f7a79d4-ecea-4c1c-85ca-b57e9ff2f150",
      "name": "Markdown"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Beautify the HTML below using inline CSS for an email. Format like a modern newsletter. Output only the results in spanish without any header. "
            },
            {
              "content": "={{ $json.data }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        16
      ],
      "id": "94df1313-c9c2-44a0-bc46-937285563958",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Cda33UoJvoa4YuLI",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Your job is to log the news and fact from the daily briefing in the relevant columns within the  Google Sheets documents you have access to. An AI will be reading the results of your work, so be sure to format it in a concise, detailed manner that will be easy to parse and summarize with a small number of tokens. "
            },
            {
              "content": "=Daily brief: {{ $('Markdown').item.json.data }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1040,
        16
      ],
      "id": "d1062a06-046b-49c3-8edc-f9a78e7f3259",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "Cda33UoJvoa4YuLI",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1a0lEUQHhySVZd6rDGkZ4nHPNqL-kyl1vWkFgMXvWUSg",
          "mode": "list",
          "cachedResultName": "Daily log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a0lEUQHhySVZd6rDGkZ4nHPNqL-kyl1vWkFgMXvWUSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a0lEUQHhySVZd6rDGkZ4nHPNqL-kyl1vWkFgMXvWUSg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Schedule Trigger').item.json['Readable date'] }}",
            "News": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('News', ``, 'string') }}",
            "Fact": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fact', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fact",
              "displayName": "Fact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1184,
        208
      ],
      "id": "3ed8b53d-7751-4d5b-967c-a6cef3a6374c",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ueuooJM6HEnQlguA",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "content": "Your job is to review the linked Google Sheet to see what the previous daily briefs contained. The goal is not to repeat any fun facts. Generate a description for the next AI in the chain to understand which topics to avoid with the briefing."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -384,
        16
      ],
      "id": "dd27563f-ad6a-4593-8f71-cd088afff8a2",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "Cda33UoJvoa4YuLI",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1a0lEUQHhySVZd6rDGkZ4nHPNqL-kyl1vWkFgMXvWUSg",
          "mode": "list",
          "cachedResultName": "Daily log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a0lEUQHhySVZd6rDGkZ4nHPNqL-kyl1vWkFgMXvWUSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a0lEUQHhySVZd6rDGkZ4nHPNqL-kyl1vWkFgMXvWUSg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -304,
        224
      ],
      "id": "85824e21-c5a9-4be0-9379-c6ea19431de3",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ueuooJM6HEnQlguA",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Message a model1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Message a model2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ba4ee5ba-99ac-4220-a228-19ccce597af7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1313f0d7c99f885ab97b3d4a6ad3b87e991cce2ca628bb029b00a6ae83587078"
  },
  "id": "zijPk3CrpqWBsIrp",
  "tags": []
}